DarkSkyNodeREDflow
[{"id":"93d44696.208b38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7ac4bff6.4d1df8","type":"ui_button","z":"93d44696.208b38","name":"","group":"16735204.111a56","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":200,"y":140,"wires":[["847a7daa.cc4748"]]},{"id":"b0047eec.50ed5","type":"ui_audio","z":"93d44696.208b38","name":"","group":"16735204.111a56","voice":"en-US","always":"","x":740,"y":60,"wires":[]},{"id":"81272b22.257ec8","type":"function","z":"93d44696.208b38","name":"Hello","func":"msg.payload=\"Hello\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":140,"wires":[["b0047eec.50ed5"]]},{"id":"7486cd08.eadfd4","type":"inject","z":"93d44696.208b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":240,"wires":[["f0530d6f.8c0aa"]]},{"id":"f0530d6f.8c0aa","type":"function","z":"93d44696.208b38","name":"Set YOUR DaskSky APIKEY","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"WAPIKEY\",\"54e66e7bec27aebf11dbaf769cea19e3\")\nmsg.payload=\"Weather key set !\"\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":240,"wires":[["f8257a9c.4b45c8"]]},{"id":"f8257a9c.4b45c8","type":"debug","z":"93d44696.208b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":240,"wires":[]},{"id":"60e89da4.eef5e4","type":"http request","z":"93d44696.208b38","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":360,"wires":[["18012ec9.7e0c59","7d61c54.4f5df3c"]]},{"id":"da569c29.d595d8","type":"inject","z":"93d44696.208b38","name":"GetMyLocalWeather from DarkSky","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":360,"wires":[["847a7daa.cc4748"]]},{"id":"847a7daa.cc4748","type":"function","z":"93d44696.208b38","name":"get my local weather","func":"myapikey=flow.get(\"WAPIKEY\") ||\"\"\nif(myapikey == \"\")\nnode.warn(\"Please set your DarkSky api 1st\")\n//43.6686829,-79.3963467\nmsg.url=\"https://api.darksky.net/forecast/54e66e7bec27aebf11dbaf769cea19e3/43.668,-79.396?exclude=minutely,hourly,daily,alerts,flags&units=auto\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":360,"wires":[["60e89da4.eef5e4"]]},{"id":"a41a8eb4.48818","type":"debug","z":"93d44696.208b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":420,"wires":[]},{"id":"18012ec9.7e0c59","type":"http response","z":"93d44696.208b38","name":"","statusCode":"","headers":{},"x":930,"y":360,"wires":[]},{"id":"7d61c54.4f5df3c","type":"json","z":"93d44696.208b38","name":"","property":"payload","action":"","pretty":false,"x":690,"y":420,"wires":[["a41a8eb4.48818","1ec5b25b.05cd7e","26d9f7cd.3e54"]]},{"id":"8d925f49.38cc9","type":"comment","z":"93d44696.208b38","name":"darksky ","info":"https://api.darksky.net/forecast/3bb84459e7c76e4c4d81cabe2e7448a0/43.674,-79.658?exclude=minutely,hourly,daily,alerts,flags&units=auto\n\nhttps://darksky.net/forecast/43.6714,-79.404/us12/en\n\nhttps://darksky.net/dev/account\n","x":90,"y":180,"wires":[]},{"id":"3bb6e82f.2bddc","type":"inject","z":"93d44696.208b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":280,"wires":[["837c9611.34cec8"]]},{"id":"837c9611.34cec8","type":"function","z":"93d44696.208b38","name":"Set YOUR Chromcast IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"CHROMECAST\",\"10.0.4.74\")\nmsg.payload=\"CHROMECAST IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["2158707d.a7dcb8"]]},{"id":"2158707d.a7dcb8","type":"debug","z":"93d44696.208b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":280,"wires":[]},{"id":"54a7643b.86fc94","type":"inject","z":"93d44696.208b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":320,"wires":[["70fea27f.cca6e4"]]},{"id":"70fea27f.cca6e4","type":"function","z":"93d44696.208b38","name":"Set YOUR Local IP","func":"// get ur key here //https://www.wunderground.com/member/api-keys\n// or https://darksky.net/dev\nflow.set(\"LOCALIP\",\"10.0.4.104\")\nmsg.payload=\"localip IP set !\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":320,"wires":[["42a1c3aa.86af5c"]]},{"id":"42a1c3aa.86af5c","type":"debug","z":"93d44696.208b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":320,"wires":[]},{"id":"1320b9dd.477cc6","type":"debug","z":"93d44696.208b38","name":"LocalWeather","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":480,"wires":[]},{"id":"1ec5b25b.05cd7e","type":"function","z":"93d44696.208b38","name":"set  local Temperature","func":"node.warn(msg.payload.currently)\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n*/\n\nmsg.payload.currently.mytime=Date.now()\n\nglobal.set(\"localtemp-ds\",msg.payload.currently.temperature)\n\nnode.warn(\"Annex temp = \"+global.get(\"localtemp-ds\"))\nmsg.payload.currently.mytemp=msg.payload.currently.temperature\nmsg.payload.currently.myhumidity=msg.payload.currently.humidity\nmsg.payload.currently.mypressure=msg.payload.currently.pressure\n\nglobal.set(\"localweather-ds\",msg.payload.currently);\nmsg.payload=\"Temperature is \"+msg.payload.currently.temperature+\" Humidity is \"+msg.payload.currently.humidity+\" pressure is \"+msg.payload.currently.pressure\n\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":480,"wires":[["1320b9dd.477cc6"]]},{"id":"6b3244b0.c53df4","type":"chromecast-play","z":"93d44696.208b38","name":"Say It","url":"","contentType":"","ip":"","x":930,"y":580,"wires":[[]]},{"id":"52da3101.e47218","type":"inject","z":"93d44696.208b38","name":"Cast a Hello Test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":380,"y":580,"wires":[["50981def.a1718c"]]},{"id":"50981def.a1718c","type":"function","z":"93d44696.208b38","name":"Hello World","func":"var d = new Date();\nd.toLocaleString();       // -> \"2/1/2013 7:37:08 AM\"\nd.toLocaleDateString();   // -> \"2/1/2013\"\ntime = d.toLocaleTimeString();\n     nowArray = time.split(':');\n     time = 'Hello World, It+is+now '+nowArray[0]+':'+nowArray[1];\n\n\nurl = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q='+time\n//url = 'https://translate.google.com/translate_tts?ie=UTF-8&q='+time+'&tl=en&total=1&idx=0&textlen='+time1.length+'&tk=955860.581808&client=t&prev=input&ttsspeed=1',\n  //   url = 'https://translate.google.com/translate_tts?ie=UTF-8&q=Hello&tl=en&total=1&idx=0&textlen=5&tk=955860.581808&client=t&prev=input&ttsspeed=1'\nmsg.payload = time\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["6b3244b0.c53df4","bb4d41a.f831c4"]]},{"id":"80baae67.4b76a8","type":"function","z":"93d44696.208b38","name":"Broadcast local Temperature","func":"url = 'https://translate.google.com/translate_tts?ie=UTF-8&client=tw-ob&tl=en&q=Local temperature is now '+ global.get(\"localtemp-ds\") +\" degree's !\"\nmsg.payload = {\n    ip_address: flow.get(\"CHROMECAST\"),\n    ip: flow.get(\"CHROMECAST\"),\n    url: url,\n    contentType: 'audio/mp3'\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":540,"wires":[["6b3244b0.c53df4"]]},{"id":"387a114c.01b6ce","type":"inject","z":"93d44696.208b38","name":"ChromeCastWeather","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":370,"y":540,"wires":[["80baae67.4b76a8"]]},{"id":"d1dea373.21141","type":"inject","z":"93d44696.208b38","name":"TriggerHourly","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":480,"wires":[["847a7daa.cc4748"]]},{"id":"bb4d41a.f831c4","type":"ui_audio","z":"93d44696.208b38","name":"","group":"16735204.111a56","voice":"en-US","always":"","x":1200,"y":560,"wires":[]},{"id":"eab130b3.0a64a8","type":"inject","z":"93d44696.208b38","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1150,"y":400,"wires":[["eed5f0f0.b37538"]]},{"id":"eed5f0f0.b37538","type":"ui_text_input","z":"93d44696.208b38","name":"","label":"","tooltip":"","group":"16735204.111a56","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":1180,"y":500,"wires":[["bb4d41a.f831c4"]]},{"id":"5c4e2ad7.ef1434","type":"inject","z":"93d44696.208b38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":40,"wires":[[]]},{"id":"bf0dddff.7ee24","type":"debug","z":"93d44696.208b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":140,"wires":[]},{"id":"26d9f7cd.3e54","type":"function","z":"93d44696.208b38","name":"3 params","func":"node.warn(msg.payload.currently)\n\n/*\n{\"temp\":5,\"heatIndex\":5,\"dewpt\":-4,\"windChill\":null,\"windSpeed\":null,\"windGust\":null,\"pressure\":1026.75,\"precipRate\":null,\"precipTotal\":null,\"elev\":3}\n*/\n\nmsg.payload.currently.mytime=Date.now()\n\nglobal.set(\"localtemp-ds\",msg.payload.currently.temperature)\n\nnode.warn(\"Annex temp = \"+global.get(\"localtemp-ds\"))\nmsg.payload.currently.mytemp=msg.payload.currently.temperature\nmsg.payload.currently.myhumidity=msg.payload.currently.humidity\nmsg.payload.currently.mypressure=msg.payload.currently.pressure\n\nglobal.set(\"localweather-ds\",msg.payload.currently);\nmsg.payload=msg.payload.currently.myhumidity\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":780,"wires":[["eae06ca2.43f0f","af495501.dd22d8","bb4d41a.f831c4"]]},{"id":"eae06ca2.43f0f","type":"debug","z":"93d44696.208b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":960,"wires":[]},{"id":"af495501.dd22d8","type":"ui_gauge","z":"93d44696.208b38","name":"","group":"c020a209.56c048","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"60","x":1180,"y":740,"wires":[]},{"id":"c352eea.610a69","type":"telegram sender","z":"93d44696.208b38","name":"","bot":"ceb3e6d.e839498","x":535,"y":1040,"wires":[["d8dd6863.efb07"]],"l":false},{"id":"978f29b2.d7f13","type":"telegram receiver","z":"93d44696.208b38","name":"MikkiTABot-reciever","bot":"cba173ab.beb2c8","saveDataDir":"","x":350,"y":1040,"wires":[["c352eea.610a69"],["d8dd6863.efb07"]]},{"id":"d8dd6863.efb07","type":"debug","z":"93d44696.208b38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":920,"wires":[]},{"id":"58efb192.40cbd","type":"telegram receiver","z":"93d44696.208b38","name":"","bot":"a2f26956.f2bf88","saveDataDir":"","x":110,"y":1240,"wires":[[],["3b65f87c.d65c88"]]},{"id":"7441f542.464da4","type":"telegram sender","z":"93d44696.208b38","name":"","bot":"a37c7a.03d1fb88","x":820,"y":1220,"wires":[[]]},{"id":"3b65f87c.d65c88","type":"switch","z":"93d44696.208b38","name":"Command switch","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"/last","vt":"str"},{"t":"eq","v":"/reg","vt":"str"},{"t":"eq","v":"/stat","vt":"str"},{"t":"eq","v":"/dial","vt":"str"},{"t":"eq","v":"/help","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":390,"y":1240,"wires":[["8094971.9b2ff68"],["33ec5389.d1b514"],["33ec5389.d1b514"],["33ec5389.d1b514"],[]]},{"id":"33ec5389.d1b514","type":"function","z":"93d44696.208b38","name":"Sensor id","func":"flow.set('chatid',msg.payload.chatId);\nmsg.payload=”Sensor01”;\nreturn msg;","outputs":1,"noerr":2,"x":600,"y":1240,"wires":[[]]},{"id":"8094971.9b2ff68","type":"function","z":"93d44696.208b38","name":"sensorID","func":"flow.set('chatid',msg.payload.chatId);\nmsg.payload=”Sensor01”;\nreturn msg;","outputs":1,"noerr":2,"x":460,"y":1140,"wires":[["d9612890.218678"]]},{"id":"d9612890.218678","type":"http request","z":"93d44696.208b38","name":"Get last event","method":"GET","ret":"txt","paytoqs":false,"url":"https://ntf0fz.internetofthings.ibmcloud.com/api/v0002/device/types/Sensor/devices/Sensor01/events/temperature","tls":"","persist":false,"proxy":"","authType":"basic","x":660,"y":1120,"wires":[["5baeceb2.d5e478"]]},{"id":"5baeceb2.d5e478","type":"json","z":"93d44696.208b38","name":"JSON","property":"payload","action":"","pretty":false,"x":860,"y":1120,"wires":[["e1f7ab48.8ebd18"]]},{"id":"e1f7ab48.8ebd18","type":"function","z":"93d44696.208b38","name":"Extract event","func":"msg.payload = msg.payload.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":1120,"wires":[["ddf43b79.ed1398"]]},{"id":"ddf43b79.ed1398","type":"base64","z":"93d44696.208b38","name":"","action":"","property":"payload","x":1220,"y":1120,"wires":[["d73996b.6f81fe8"]]},{"id":"d73996b.6f81fe8","type":"function","z":"93d44696.208b38","name":"Format message","func":"var str=msg.payload.toString('utf8');\nvar strobj=JSON.parse(str);\nvar message=\"temperature: \"+strobj.d.health.temp.toString()+\n\"`C, puls: \"+\nstrobj.d.health.puls.toString()+\"hit per second, breath rate: \"+strobj.d.health.breath.toString()+\" per minute\";\n\nmsg.payload = { “chatId” : flow.get('chatid'),\n“transport” : “telegram”,\n“content” : message,\n“type”: “message”\n};\nreturn msg;","outputs":1,"noerr":2,"x":1240,"y":1220,"wires":[["7441f542.464da4"]]},{"id":"16735204.111a56","type":"ui_group","z":"","name":"Group1","tab":"c0bd42b3.c8dc78","disp":true,"width":"6","collapse":false},{"id":"c020a209.56c048","type":"ui_group","z":"","name":"Tools","tab":"c0bd42b3.c8dc78","disp":true,"width":"2","collapse":false},{"id":"ceb3e6d.e839498","type":"telegram bot","z":"","botname":"WatsonChatMikkiTABot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"cba173ab.beb2c8","type":"telegram bot","z":"","botname":"WatsonChatMikkiTABot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"a2f26956.f2bf88","type":"telegram bot","z":"","botname":"WatsonChatMikkiTABot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"a37c7a.03d1fb88","type":"telegram bot","z":"","botname":"WatsonChatMikkiTABot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"c0bd42b3.c8dc78","type":"ui_tab","z":"","name":"Tab1","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
